---
import Layout from "../layouts/Layout.astro";
import { entriesByType } from "../fetch/contentful";
const posts = await entriesByType("post");
const slugs = posts.map((post) => post.fields.slug);
---

<Layout
  title="Astro sandbox"
  description="Jumping off point for Astro starter to see what it's all about!"
  imageURL=""
>
  <main>
    <ul>
      {slugs.map((slug) => <li>{slug}</li>)}
    </ul>
  </main>
</Layout>
